html, body {
    font-family: "Noto Sans", sans-serif;
    min-height: 100vh;
    font-weight: 500;
    /* Olympic guideline says : Ring radius = 12 x stroke width - source : https://stillmed.olympics.com/media/Documents/International-Olympic-Committee/Olympic-brand/Olympic-Brand-Guidelines.pdf */
    --stroke: 1.4rem;
}

body {
    background: url(./images/poster.avif) center center no-repeat #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 5.3rem;
}

p {
    color: #666763;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: #fff;
    padding-block: max(1rem, 8vh);
    width: calc(100vw - 180px);
    max-width: 1440px;
    min-width: 1000px;
    max-height: 950px;
}

.methodology {
    margin-top: 5.3rem;
    font-size: .8em;
}

/** Continents **/
.continents {
    display: grid;
    grid-template-columns: repeat(3, calc(12 * var(--stroke)));
    justify-content: center;
    gap: calc(var(--stroke));
}

.continent {
    width: calc(12 * var(--stroke));
    display: flex;
    flex-direction: column;
    grid-row: 1/ span 1;
    grid-column: 1 / span 1;
    gap: 1.5rem;
    --header-offset: calc(1.5rem + 52px);
}

.continent header {
    height: 52px;
    display: flex;
    flex-direction: column;
    gap: .35rem;
}

.continent:nth-child(1) {
    --color: #0078D0;
}

.continent:nth-child(2) {
    --color: #FFB114;
}

.continent:nth-child(3) {
    --color: #000000;
}

.continent:nth-child(4) {
    --color: #00A651;
}

.continent:nth-child(5) {
    --color: #F0282D;
}

/* Offset the second and 4th ring to the bottom */
.continent:nth-child(2),
.continent:nth-child(4){
    margin-top: calc(var(--header-offset) + 5.5 * var(--stroke));
    margin-left: calc(6.5 * var(--stroke));
    flex-direction: column-reverse;
}

.continent h2 {
    color: var(--color);
    font-size: 1.4rem;
}

.continent strong {
    font-weight: bold;
}

.continent ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.continent li {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: .7rem;
    font-weight: 600;
}

.continent li::before {
    width: 10px;
    height: 10px;
    content:'';
    display: block;
    border-radius: 100%;
    background: linear-gradient(to bottom, var(--medal-start), var(--medal-end));
    box-shadow: inset 0 -1px 2px var(--medal-shadow);
}

.gold {
    --medal-start: #fdf5c3;
    --medal-end: #fbe334;
    --medal-shadow: #dac215;
}

.silver {
    --medal-start: #f3f0f0;
    --medal-end: #d2cdca;
    --medal-shadow: #a4a09d;
}

.bronze {
    --medal-start: #fce7bd;
    --medal-end: #fa9e1b;
    --medal-shadow: #d6830d;
}

.ring {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    position: relative;
}

.ring__l,
.ring__r,
.ring__b,
.ring__t {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    color: var(--color);
    border: calc(2px + var(--stroke) * var(--ratio) * 1.5) solid transparent;
}

.ring__l {
    border-left-color: currentColor;
}

.ring__r {
    border-right-color: currentColor;
}

.ring__b {
    border-bottom-color: currentColor;
}

.ring__t {
    border-top-color: currentColor;
}

.ring::after {
    border-color: transparent;
}

/* Chain overlap */
.continent:nth-child(1) .ring__r {
    z-index: 3;
}
.continent:nth-child(2) .ring__t {
    z-index: 2;
}
.continent:nth-child(3) .ring__b,
.continent:nth-child(3) .ring__r
{
    z-index: 3;
}
.continent:nth-child(4) .ring__t
{
    z-index: 2;
}
.continent:nth-child(4) .ring__l {
    z-index: 4;
}
.continent:nth-child(5) .ring__l {
    z-index: 1;
}

/* Animations */
.continent {
    --animation: slideInFromTop;
    .ring > * {
        animation: var(--animation) .5s ease-out calc(.1s * var(--index)) both;
    }
}

.continent:nth-child(2),
.continent:nth-child(4) {
    --animation: slideInFromBottom ;
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: scale(.5) translateY(-100px);
    }
    to {
        transform: none
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform:scale(.5)  translateY(100px);
    }
    to {
        transform: none
    }
}
