.mascots {
  height: 160px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
  /* Ratio (based on window width) to cross the screen  */
  --walk-duration: 1;
  /* Delay for the bobbling effect  */
  --walk-bouncing-delay: 0;
  /* Delay before starting crossing the screen  */
  --walk-cross-offset: 0;
  /* How much a group can spread */
  --spread: 800px;
  /* Mascot size */
  --scale: 1;
}

.mascot {
  position: absolute;
  top: 0;
  left: calc(var(--walk-cross-offset) * var(--spread) * -1);
  display: block;
  transform-origin: left bottom;
  animation: mascotX calc(7s * var(--walk-duration)) linear both;
  --scale: calc(var(--scale-ratio) * 0.2 + 0.8);
}

.mascots img {
  display: block;
  animation: mascotY 1s calc(1s * var(--walk-bouncing-delay)) infinite both;
  transform-origin: bottom left 100px;
  height: 180px;
  width: auto;
}

@keyframes mascotY {
  0% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(-7deg);
    transform-origin: bottom right 100px;
  }
  100% {
    transform: rotate(7deg);
  }
}

@keyframes mascotX {
  0% {
    transform: translateX(-110%) scale(var(--scale));
  }
  100% {
    transform: translateX(calc(100vw + 10% + var(--spread))) scale(var(--scale));
  }
}
